html, body, #root {
    height: 100%;
    width: 100%;
}

html > body {
    background-image: url('frontend_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin: 0;
}

.header {
    background-color: #A7D2CB;
    font-size: 16pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginName > a {
    font-size: 14pt;
    margin-left: 1em;
    margin-right: 1em;
    color: #444444;
}

.loginName > a:hover {
    color: black;
}

.tableList, .uniNameInSubjects, .newUniForm, .newSubjectForm {
    margin: 3%;
}

.paginationMain {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
}

.paginationMain > Button, .paginationMain > span {
    font-size: 1.1em;
    margin: 0 0.7em;
    padding: 0.3em;
    font-weight: bold;
    background: none;
    color: black;
    border: none;
}

.paginationMain > Button:hover {
    background: #A7D2CB;
    color: black;
    border: 2px solid black;
}

.paginationMain .selectPerPage {
    margin-left: 1em;
    background: #A7D2CB;
    font-weight: bold;
}

Table {
    background: rgba(255, 255, 255, 0.7);
}

thead {
    font-weight: bold;
}

tbody {
    cursor: pointer;
}

.myFormContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.myForm {
    width: 24em;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2em;
    border-radius: 20px;
    background-color: #A7D2CB;
}

.newSubjectForm {
    width: 28em;
}

.myForm > div {
    width: 100%;
}

.myFormWelcomeText{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2em;
}

.myFormErrorText {
    color: red;
    padding-top: 1em;
}

.myFormSuccessText {
    color: green;
    padding-top: 1em;
}

.myForm Button {
    margin-top: 1em;
}